*.log
.DS_Store
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
package-lock.json
composer.json
